
{% extends 'demo_app/base.html' %}
{% load crispy_forms_tags %}
{% block form %}
    <form method="post" style="width: 400px; position: absolute; left: 1000px; top:300px;"> {% csrf_token %}
        {{ form|crispy }}
        {% if error_messages %}
            {% for key, message in error_messages.items %}
                <div class="alert alert-danger" role="alert">
                  {{key}} {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
